{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block head_style %}
{% stylesheets filter='less,cssembed,?yui_css'
    '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
    '@LogTweetsLayoutBundle/Resources/public/less/main.less'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet"
    media="screen" />
{% endstylesheets %}
{% endblock head_style %}

{% block navbar %}
<div class="navbar">
    <div class="navbar-inner">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"><strong>LogTweets</strong></a>
        <div class="nav-collapse">
        <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/"></a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>
</div>
{% endblock navbar %}

{% block title %}
LogTweets
{% endblock %}

{% block container %}
<div class="container">
<div class="content">
    {% block page_header %}
    <div class="page-header">
        <h1>{% block headline %}{% endblock %}</h1>
    </div>
    {% endblock page_header %}

    {% block flashes %}
    {{ session_flash() }}
    {% endblock flashes %}

    {% block content_row %}
    <div class="row-fluid">
        {% block content %}
        <div>
            {% block main %}
            {% endblock main %}
        </div>
        <div class="span3">
            {% block content_sidebar %}
                <h2>Sidebar</h2>
            {% endblock content_sidebar %}
        </div>
        {% endblock content %}
    </div>
    {% endblock content_row %}
</div>
<footer class="navbar navbar-bottom">
    {% block footer %}
        <div class="container navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="#">Imprint</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    {% endblock footer %}
</footer>
</div> <!-- /container -->
{% endblock container %}

{% block foot_script %}
{%- javascripts
        '@SonatajQueryBundle/Resources/public/*.js'
        '@LogTweetsBackboneJsBundle/Resources/public/js/underscore.js'
        '@LogTweetsBackboneJsBundle/Resources/public/js/json2.js'
        '@LogTweetsBackboneJsBundle/Resources/public/js/backbone.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        filter="?yui_js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascript %}{% endblock javascript %}
{% endblock foot_script %}