{% extends 'LogTweetsLayoutBundle:Layout:base.html.twig' %}

{% block page_header %}
{% endblock page_header %}

{% block content %}
<div class="hero-unit">
    <h1>Change <em>you</em> can trace back</h1>
    <p>
        <abbr title="Good afternoon">Guten Tag</abbr> fellow DevOp, honestly, when was the last time you spend hours
        tackling a misbehaving system just to find out your collegue fixed the
        same issue the day before?
        Or you wondered why this setting has changed and whom can you ask about
        it? And most important: who needs stick-beating (hey Theo)? LogTweets helps you to
        keep track of who changed what on which system — without wasting anyones
        time.
    </p>
    <p><a class="btn btn-primary btn-large pull-right">Register now</a></p>
</div>
{% endblock content %}